<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.anymouseweb.Mapper.UserPwdMapper">
<select id="get_pwd_bytes" parameterType="string" resultType="object">
    SELECT ua.des_pwd FROM hr_employees hr,user_pwd_all ua WHERE hr.employee_id = ua.employess_id AND hr.employee_number = #{employees_number}
</select>
    <insert id="insert_into_pwd" parameterType="com.example.anymouseweb.Entity.UserPwdAllEntity">
       INSERT INTO user_pwd_all(employess_id,des_pwd,create_date,last_update_date) VALUES(#{employess_id},#{des_pwd,jdbcType=BLOB},SYSDATE(),SYSDATE());
    </insert>
</mapper>